// Colors
$colorTextPrimary: #2f303a;
$colorTextSecondary: #fff;
$colorTextTertiary: #757575;
$colorTextActive: #dd872b;
$backgroundColorPrimary: #2f303a;
$backgroundColor: #f5f4fa;
$backdrop: #0000003e;
$borders: #ececec;
// Fonts
$textFontPrimary: "Roboto", sans-serif;
