.header {
  padding: 15px;
  margin-bottom: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }

  &__logo {
    font-size: 22px;
    font-weight: 400;
    @include animation(color);
    z-index: 1500;
    &:hover {
      color: #9c652c;
    }
    &:hover .header__logo--active {
      color: $colorTextPrimary;
    }
    &--active {
      color: #9c652c;
      font-weight: 500;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
  }
}

.links__link {
  @include text($colorTextPrimary, 16px, 400);
  &--login {
    width: 100%;
    @include text($colorTextPrimary, 20px, 300);
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  &__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.menu {
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include text($colorTextPrimary, 16px, 400);
    @include animation(color);
    &:hover {
      color: $colorTextActive;
    }
  }
  &__socialmedia {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @include text($colorTextPrimary, 16px, 400);
    @include animation(color);
    &:hover {
      color: $colorTextActive;
    }
  }
}

.links__item--login {
  border: 2px solid $borders;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;

  @include animation(background-color);
  &:hover .links__link--login {
    color: $colorTextSecondary;
  }

  &:hover {
    background-color: $colorTextActive;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .header__logo {
    font-size: 26px;
  }

  .nav__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__list {
    justify-content: flex-end;
    padding-left: 20px;
  }

  .socialmedia,
  .contacts {
    display: none;
  }

  .header {
    padding: 25px;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    width: 100%;
  }

  .nav__list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-width: 98px;
  }

  .nav__list {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-evenly;
  }

  .links__link {
    font-size: 18px;
    &--login {
      font-size: 22px;
    }
  }
}

@media (min-width: 1240px) {
  .menu__list {
    padding-left: 0;
  }

  .links__link {
    font-size: 18px;
    &--login {
      font-size: 22px;
    }
  }
}
