* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: scroll;
  color: black;
}

.container {
  min-width: 320px;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
}

.header {
  padding: 15px;
  margin-bottom: 50px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.header__logo {
  font-size: 22px;
  font-weight: 400;
  transition: color 350ms ease-in-out;
  z-index: 1500;
}
.header__logo:hover {
  color: #9c652c;
}
.header__logo:hover .header__logo--active {
  color: black;
}
.header__logo--active {
  color: #9c652c;
  font-weight: 500;
}
.header__nav {
  display: flex;
  justify-content: center;
}

.links__link {
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.links__link--login {
  width: 100%;
  color: black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.nav__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  transition: color 350ms ease-in-out;
}
.menu__contacts:hover {
  color: #dd872b;
}
.menu__socialmedia {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  transition: color 350ms ease-in-out;
}
.menu__socialmedia:hover {
  color: #dd872b;
}

.links__item--login {
  border: 2px solid #ececec;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  transition: background-color 350ms ease-in-out;
}
.links__item--login:hover .links__link--login {
  color: #fff;
}
.links__item--login:hover {
  background-color: #dd872b;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__logo {
    font-size: 26px;
  }
  .nav__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__list {
    justify-content: flex-end;
    padding-left: 20px;
  }
  .socialmedia,
  .contacts {
    display: none;
  }
  .header {
    padding: 25px;
    justify-content: space-between;
  }
  .header__nav {
    display: flex;
    width: 100%;
  }
  .nav__list-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-width: 98px;
  }
  .nav__list {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: space-evenly;
  }
  .links__link {
    font-size: 18px;
  }
  .links__link--login {
    font-size: 22px;
  }
}
@media (min-width: 1240px) {
  .menu__list {
    padding-left: 0;
  }
  .links__link {
    font-size: 18px;
  }
  .links__link--login {
    font-size: 22px;
  }
}
.nav__btn {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 767px) {
  .btn-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
  }
  .btn-menu__icon,
  .btn-menu__icon::before,
  .btn-menu__icon::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #333;
    transition: transform 0.3s ease-in 0.3s;
    transition: top 0.1s ease-in;
    z-index: 1000;
  }
  .btn-menu__icon {
    top: calc(50% - 1px);
  }
  .btn-menu__icon::after {
    top: 8px;
  }
  .btn-menu__icon::before {
    top: -8px;
  }
  .nav__list {
    display: none;
  }
  .menu-open .btn-menu__icon::before,
  .menu-open .btn-menu__icon::after {
    top: 0;
  }
  .menu-open .btn-menu {
    padding: 15px;
  }
  .menu-open .btn-menu__icon {
    transform: rotate(-45deg);
  }
  .menu-open .btn-menu__icon::after {
    transform: rotate(90deg);
  }
  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 40px 48px;
    background-color: white;
    flex-direction: column;
    row-gap: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    justify-content: space-between;
    z-index: 999;
  }
  .menu-open .nav__list {
    transform: translateX(0);
  }
  .socialmedia {
    opacity: 0;
  }
  .menu-open .socialmedia {
    opacity: 1;
  }
}
.menu__list {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.nav__link--opened,
.links__link--opened {
  color: #dd872b;
}

@media (max-width: 768px) {
  .contacts__item::before {
    display: none;
  }
  .menu {
    padding-top: 100px;
  }
}
@media (min-width: 769px) {
  .menu__list {
    flex-direction: row;
    align-items: center;
  }
  .header {
    display: flex;
  }
  .menu {
    justify-content: space-between;
  }
}
.good-rating {
  color: green;
}

.movie__container {
  padding-inline: 20px;
  margin: 0 auto;
}

.library__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.movies__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.movie__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.movies__item {
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 320px;
}

@media (min-width: 565px) {
  .library__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .movies__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1360px;
    justify-content: center;
    margin: 0 auto;
  }
  .movies__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) {
  .library__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .movies__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .movie__title, .movie__director, .movie__year, .movie__rating {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .library__title {
    font-size: 32px;
    margin-bottom: 35px;
  }
}
.temperature__title {
  margin: 30px 0 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.temperature__checker {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  gap: 12px;
}

.temperature__city, .temperature__speed, .temperature__temperature {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.temperature__input {
  border: 1.2px solid rgba(0, 0, 0, 0.2431372549);
  border-radius: 7px;
  padding-left: 10px;
  min-height: 20px;
  outline: none;
  max-width: 420px;
}
.temperature__input:active {
  border-color: #dd872b;
}
.temperature__check {
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0.2431372549);
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  transition: border-color 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
.temperature__check:hover {
  border-color: #dd872b;
  transform: scale(1.2);
}

@media (min-width: 565px) {
  .temperature__checker {
    align-items: center;
  }
  .temperature__input {
    min-width: 320px;
  }
  .temperature__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .city__label,
  .speed__title,
  .temperature__label {
    font-size: 18px;
    align-items: center;
  }
  .temperature__input {
    min-height: 25px;
    font-size: 14px;
  }
  .temperature__city, .temperature__speed, .temperature__temperature {
    gap: 5px;
    align-items: center;
  }
  .temperature__input {
    min-width: 420px;
  }
  .temperature__title {
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
}
@media (min-width: 1240px) {
  .city__label,
  .speed__title,
  .temperature__label {
    font-size: 20px;
    align-items: center;
  }
  .temperature__input {
    min-height: 25px;
    font-size: 14px;
  }
  .temperature__checker {
    gap: 15px;
  }
  .temperature__city, .temperature__speed, .temperature__temperature {
    gap: 10px;
    align-items: center;
  }
  .temperature__input {
    min-width: 460px;
  }
  .temperature__title {
    font-size: 32px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
}