.bank {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.bank__values {
  display: flex;
  gap: 10px;
  align-items: center;
}
.bank__values__label {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}
.bank__sum {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px;
  outline: none;
}
.bank__sum:hover {
  border: 1px solid gold;
}
.bank__buttons {
  display: flex;
  gap: 10px;
}

.bank__widthdraw, .bank__deposit {
  border: 1px solid gray;
  border-radius: 20px;
  outline: none;
  padding: 7px;
}
.bank__widthdraw:hover, .bank__deposit:hover {
  border-color: blue;
  color: blue;
}