.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.temperature__title {
  font-size: 18px;
  color: red;
}
.temperature__input {
  border: 1px solid gray;
  outline: none;
  border-radius: 20px;
}
.temperature__check {
  border: 1px solid gray;
  background-color: transparent;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  color: grey;
  transition: transform 0.5s ease-in;
}
.temperature__check:hover {
  transform: scale(1.1);
}